<app-banner></app-banner>
<div class="container">
  <div class="row">
    <div class="col-md-4 card-inicio">
      <div class="card mb-3">
        <img
          class="card-img-top img-thumbnail img-inicio"
          src="http://hp-api.herokuapp.com/images/harry.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Estudiantes</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
            quisquam laudantium! Deleniti sit hic iure, et eos excepturi
            praesentium ex harum laudantium tempora! Exercitationem repellat
            odit in hic quas laudantium.
          </p>
          <p class="card-text">
            <small class="text-muted">lorem ipsum</small>
          </p>
          <a routerLink="estudiantes" class="btn btn-primary m-auto">Ver Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <img
          class="card-img-top img-thumbnail img-inicio"
          src="http://hp-api.herokuapp.com/images/mcgonagall.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Profesores</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
            quisquam laudantium! Deleniti sit hic iure, et eos excepturi
            praesentium ex harum laudantium tempora! Exercitationem repellat
            odit in hic quas laudantium.
          </p>
          <p class="card-text">
            <small class="text-muted">lorem ipsum</small>
          </p>
          <a routerLink="profesores" class="btn btn-primary m-auto">Ver Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <img
          class="card-img-top img-thumbnail img-inicio"
          src="http://hp-api.herokuapp.com/images/hermione.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Personajes</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia,
            quisquam laudantium! Deleniti sit hic iure, et eos excepturi
            praesentium ex harum laudantium tempora! Exercitationem repellat
            odit in hic quas laudantium.
          </p>
          <p class="card-text">
            <small class="text-muted">lorem ipsum</small>
          </p>
          <a class="btn btn-primary m-auto text-center" routerLink="personajes">Ver Más</a>
        </div>
      </div>
    </div>
  </div>

  <hr />
</div>
