<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
  <a routerLink=""
    ><img
      src="/assets/imgs/logo.png"
      class="header_logo rounded md d-block"
      alt="image"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLinkActive]="'active'"
          routerLink="personajes"
          >Personajes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="'active'"
          routerLink="estudiantes"
          >Estudiantes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="'active'"
          routerLink="profesores"
          >Profesores</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="'active'"
          routerLink="solicitudes"
          >Solicitudes</a
        >
      </li>
    </ul>
  </div>
</nav>
