.logo-casa {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.logo-casa-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  opacity: 0.3;
}

