<div
  class="jumbotron"
  Style="background-image:url('https://images.ctfassets.net/usf1vwtuqyxm/1tHB9XYtb9lcaIIpgRHAv4/4190f702a9e61cec4f5fef24b308c63c/Wand_experience_Ollivanders_exterior__Full_Width.jpg?w=1008&fm=webp')"
>
  <div class="container">
    <h1 class="display-3">¡Bienvenido a Howarts!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar
      tortor eget libero pretium, a scelerisque orci aliquet. Aenean erat urna,
      congue a arcu eu, dignissim vulputate est. Maecenas ornare laoreet
      dapibus.
    </p>
  </div>
</div>
