@import "~bootstrap/scss/bootstrap";

body {
  color: #e5e5e5;
  background-color: #000;
}

.card {
  border: 1px solid #323232 !important;
}

.btn-primary {
  color: #121212 !important;
  background-color: #e3d155 !important;
  border-color: #e3d155 !important;
}

a {
  color: #E3D155 !important;
}